@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #222222;
	height: auto;
	width: auto;
}

.tb {
	float: left;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.main {
	width: 1280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #2F2F2F;
	text-align: center;
	color: #ffffff;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

.center {
	width: 1080px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px; 
	margin-top: 10px;
	background-color: #333333;
	color: #ffffff;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

#toolbar {
	width: 1280px;
	height: 65px;
	padding-left: fill;
	padding-right: fill;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #313131;
}

#centertop {
	
}

#centermid {
	
}

#centerbot {
	
}

#foot {
	height: 37.6px;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #2F2F2F;
}

#info {
	float: left;
	margin: 0 auto;
	margin-top: 13px;
}

#tjanst {
	float: left;
	margin: 0 auto;
	margin-top: 13px;
}

#kontakt {
	float: left;
	margin: 0 auto;
	margin-top: 13px;
}

a {
	text-decoration-line: none;
	padding: 10px;
	width: 100px;
	background-color: #272727;
	border: medium;
	border-radius: 5px;
	color: #FFFFFF;
	transition: 0.3s;
}

a:hover {
	text-decoration-line: none;
	padding: 15px;
	width: 105px;
	background-color: #212020;
	border: medium;
	border-radius: 10px;
	transition: 0.3s;
}

a:visited {
	text-decoration-line: none;
	
}

a:link {
	text-decoration-line: none;
	
}

a:active {
	text-decoration-line: none;
	padding: 18px;
	width: 110px;
	background-color: #212020;
	border: medium;
	border-radius: 15px;
	transition: 0.3s;
	
}