@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #222222;
	height: auto;
	width: auto;
}


.main {
	width: 1280px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2F2F2F;
	text-align: center;
	color: #ffffff;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

.center {
	width: 1000px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333333;
	color: #ffffff;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

#centertop {
	background-color: #BF1C1F;
}

#centermid {
	background-color: #1127C9;
}

#centerbot {
	background-color: #DD13E2;
}